<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.DiscountPolicyMapper">
    <resultMap id="result" type="airbnb.persistence.dto.DiscountPolicyDTO">
        <result property="discountId" column="discount_id"/>
        <result property="houseId" column="house_id"/>
        <result property="discountDay" column="discount_day"/>
        <result property="discount_amount" column="discount_amount"/>
        <result property="discount_rate" column="discount_rate"/>
    </resultMap>

    <select id="getDiscountByHouseId" parameterType="int" resultMap="result">
        SELECT *
        FROM DISCOUNT_POLICY
        WHERE house_id = #{houseId}
    </select>

    <insert id="insert">
        INSERT INTO DISCOUNT_POLICY(house_id, discount_day, discount_amount, discount_rate)
        VALUES (#{houseId}, #{discountDay}, #{discount_amount}, #{discount_rate})
    </insert>

    <update id="update">
        UPDATE DISCOUNT_POLICY
        SET discount_day    = #{discountDay},
            discount_amount = #{discount_amount},
            discount_rate   = #{discount_rate}
        WHERE house_id = #{houseId}
    </update>

    <select id="getDiscountPolicyByHouseId" parameterType="int" resultMap="result">
        SELECT *
        FROM DISCOUNT_POLICY
        WHERE house_id = #{houseId}
    </select>


    <update id="reservationFeeSynchronize">
        UPDATE RESERVATION
        SET cost = CASE
                       WHEN #{discountAmount} != 0 THEN cost - #{discountAmount}
                       WHEN #{discountRate} != 0 THEN cost * (1 - #{discountRate} / 100)
                       ELSE cost
            END
        WHERE house_id = #{houseId}
          AND reservation_status IN ('WAIT', 'BEFORE_STAY')
    </update>

<!--    <update id="reservationFeeSynchronize">-->
<!--        UPDATE RESERVATION-->
<!--        SET cost =-->
<!--        <if test="discount_amount != 0 and discount_rate == 0">-->
<!--            cost - #{discount_amount}-->
<!--        </if>-->
<!--        <if test="discount_rate != 0 and discount_amount == 0">-->
<!--            cost * (1 - #{discount_rate} / 100)-->
<!--        </if>-->
<!--        <if test="discount_amount == 0 and discount_rate == 0">-->
<!--            cost-->
<!--        </if>-->
<!--        WHERE house_id = #{houseId}-->
<!--        AND reservation_status IN ('WAIT', 'BEFORE_STAY')-->
<!--    </update>-->

</mapper>